<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- [CONFIG] Set page main configuration -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- [SEO] Meta description and keywords -->
        <meta name="Description" content="Add yout description...">
        <meta name="keywords" content="Add your keywords...">

        <title>Ingénieur 2000 : Séquence Transformer</title>

        <!-- [CDN] Get Paho MQTT -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.js"></script>

        <!-- [CDN] Get Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        
        <!-- [CDN] Get GoogleFonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        
        <!-- [CDN] Milligram -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <!-- [PAGE] Fetch classe -->
        <script src="./js/FetchClass.js"></script>

        <!-- [PAGE] Main style -->
        <link rel="stylesheet" href="./css/style.css">

        <style>
            #formList{
                -webkit-align-items: flex-end;
                -moz-align-items: flex-end;
                -o-align-items: flex-end;
                -ms-align-items: flex-end;
                align-items: flex-end;
            }
            #formList, #formList li, #formList input{
                margin-bottom: 0;
            }

            
            #formList li{
                width: 33.333%;
            }
            
            [type="submit"], [type="button"]{
                margin-bottom: 0;
            }
            
            [type="button"]{
                margin-top: 2rem;
            }

            [type="submit"]{
                width: 100%;
            }

            #predictionResult li{
                list-style: none;
                line-height: 1;
            }

            .predictionResultLi span{
                font-weight: 900;
            }

            li.result_false, li.result_true{
                padding: 1rem;
                text-align: center;
            }

            li.result_false{
                border: .1rem solid red;
            }

            span.result_false{
                color: red;
            }

            span.result_true{
                color: green;
            }

            li.result_true{
                border: .1rem solid green;
            }


            #predictionResult p{
                margin-bottom: 0;
                width: 100%;
                padding: 0 0 0 2rem;
            }

            #predictionResult ul li:first-child p{
                text-align: right;
                padding: 0 2rem 0 0;
            }

            #predictionResult ul li{
                width: 33.333%;
            }

            .predictionImage{
                width: 10rem;
            }
        </style>
    </head>
    <body>
        <!-- [SEMANTIC] Set up page header -->
        <header class="maxWidth">
            <h1>Neural networks in JavaScript</h1>
            <img src="https://i.imgur.com/oUXdsKy.png" alt="Image d'illustration" class="cover">
            
            <p>&copy; 2021 <a href="https://www.linkedin.com/in/julien-n-21219b28/" target="_blank">Julien Noyer</a> - All rights reserved for educational purposes only</p>
        </header>

        <!-- [SEMANTIC] Set up page main content -->
        <main class="maxWidth">
            <section>
                <h2>Présentation de BrainJS</h2>

                <p><a href="https://brain.js.org/#/" target="_blank">Brain.js</a> est une librairie à la fois FrontEnd et Backend permettant de créer des réseaux de neurones, de les entrainer et de les utiliser dans le but de réaliser des prédictions. L’intérêt de cette librairie est qu’elle est particulièrement simple à manipuler et qu’elle permet d’appréhender les différentes notions convernant les réseaux de neurones.</p>

                <a href="https://brain.js.org/#/" class="moreAbout">En savoir plus sur BrainJS</a>
            </section>

            <section class="hidden">
                <h2>Résultat de la prédiction</h2>
                <ul id="predictionResult">
                    <li><i>Lancer l'entrainement pour tester un modèle prédictif</i></li>
                </ul>
            </section>

            <section>
                <h3><b>Définir les options d'entrainement</b></h3>
                <form action="#">
                    <ul id="formList" class="flexBox">
                        <li>
                            <label for="iterationLength">Iterations</label>
                            <input type="number" name="iterations" min="2000" value="2000">
                        </li>
                        <li>
                            <label for="callbackPeriod">Log</label>
                            <input type="number" name="callbackPeriod" min="100" value="200">
                        </li>
                        <li><button type="submit">Entrainer</button></li>
                    </ul>
                    <button type="button">Tester le modèle par défaut</button>

                    <!-- [SERVER] Get Broker connection value -->
                    <input type="text" name="brokerUrl" value="<%- data.brokerUrl %>" hidden>
                    <input type="text" name="brokerClientPort" value="<%- data.brokerClientPort %>" hidden>
                    <input type="text" name="username" value="<%- data.username %>" hidden>
                    <input type="text" name="password" value="<%- data.password %>" hidden>
                </form>
            </section>

            <section>
                <ul id="socketMessagesList"></ul>
            </section>
        </main>

        <!-- [SEMANTIC] Set up page footer -->
        <footer>
            <p class="maxWidth">&copy; 2021 <a href="https://www.linkedin.com/in/julien-n-21219b28/" target="_blank">Julien Noyer</a> - All rights reserved for educational purposes only. <span><a href="https://hackmd.io/@teach-supports/B1syirP4O" target="_blank"><i class="fas fa-book"></i> Course materials</a></span></p>
        </footer>

        <!-- [SCRIPT] Always add Javascript just befor the end of BODY tag -->
        <script>
            /* 
            Configuration du client MQTT
            */
                const setupMqtt = () => {
                    // Définir l'ID du client
                    const clientId = Math.random().toString(35).substr(2, 22)

                    // Créer une instance de client MQTT
                    let mqttClient = new Paho.MQTT.Client(
                        document.querySelector('[name="brokerUrl"]').value, 
                        +document.querySelector('[name="brokerClientPort"]').value, 
                        clientId
                    );

                    // Fonction de callback appellée à la publication d'un message
                    mqttClient.onMessageArrived = (data) => {
                        // Convertir le texte brut en JSON
                        const jsonData = JSON.parse(data.payloadString);
                        console.log(jsonData)

                        // Vérifier l'étape d'entrainement
                        if( jsonData.step === 'Start' || jsonData.step === 'End' ){
                            // TODO: Ajouter le message dans le DOM
                        }
                        else if( jsonData.step === 'Prédiction' ){
                            // Afficher le résultat de la prédiction
                            let predictionResult = jsonData.isFound ? 'Succès' : 'Erreur';
                            console.log(predictionResult)

                            document.querySelector('#predictionResult').innerHTML += `
                                <li>
                                    <ul class="flexBox flexCenter">
                                        <li class="flexBox flexCenter">
                                            <p><b>Fleur testée</b> <br> ${jsonData.iris.name}</p>
                                            <img class="predictionImage" src="./img/${jsonData.iris.img}" alt="Image ${jsonData.iris.name}">
                                        </li>
                                        <li class="predictionResultLi result_${jsonData.isFound}">
                                            <span class="result_${jsonData.isFound}">${predictionResult}</span> <br>
                                            [${jsonData.prediction.value}]
                                        </li>
                                        <li class="flexBox flexCenter">
                                            <img class="predictionImage" src="./img/${jsonData.prediction.img}" alt="Image ${jsonData.prediction.name}">
                                            <p><b>Prédiction</b> <br> ${jsonData.prediction.name}</p>
                                        </li>
                                    </ul>
                                </li>
                            `;
                            // Scroller en haut de la page
                            window.scrollTo(0, 650);
                        }
                        else{
                            // TODO: Ajouter le message dans le DOM

                            // Scroller à la fin des messages
                            window.scrollTo(0, document.body.scrollHeight);
                        }
                    };
                    
                    // Fonction de callback appellée lors de la perte de connexion
                    mqttClient.onConnectionLost = (err) => { console.log(err) };

                    // Lancer la connexion
                    mqttClient.connect({
                        useSSL:true,
                        timeout: 3,
                        userName : document.querySelector('[name="username"]').value,
	                    password : document.querySelector('[name="password"]').value,
                        onSuccess: () => {
                            console.log('Broker MQTT connected');

                            // Souscription au topic 'TOPIC_new_message'
                            mqttClient.subscribe('TOPIC_new_message');

                            // Lancer la fonction d'entrainement
                            trainData()
                        }
                    });
                };
            //

            /* 
            Fonction pour lancer l'entrainement
            */
                const trainData = () => {
                    document.querySelector('form').addEventListener('submit', event => {
                        event.preventDefault()

                        // Vider les logs
                        document.querySelector('#socketMessagesList').innerHTML = '';
                        document.querySelector('#predictionResult').innerHTML = '';

                        // TODO: Connecter le client au broker MQTT
                    })
                }
            //

            /* 
            Lancer l'interface
            */
                document.addEventListener('DOMContentLoaded', () => {
                    // Connecter le client au broker MQTT
                    setupMqtt();

                    document.querySelector('[type="button"]').addEventListener('click', () => {
                        // Vider les logs
                        document.querySelector('#socketMessagesList').innerHTML = '';
                        document.querySelector('#predictionResult').innerHTML = '';
                        

                        // Tester le modèle par défaut
                        new FETCHrequest('/trained', 'GET').sendRequest()
                        .then( apiResponse => { console.log(apiResponse) })
                        .catch( apiError => { console.log(apiError) })
                    })
                })
            //
        </script>
    </body>
</html>